
<div class="content-wrapper">

<section class="content-header">
  <h1>
    O que deseja fazer?
  </h1>
</section>

<section class="content">
  <div class="d-flex flex-row">
    <div class="col-sm-4 caixa decalques">
      <a href="/admin/products/"><h2>Atualizar Decalques</h2></a>
    </div>
    <div class="col-sm-4 caixa slider">
      <a href="/admin/slider/"><h2>Atualizar Slider</h2></a>
    </div>
    <div class="col-sm-4 caixa site">
      <a href="/admin/site/"><h2>Atualizar Site</h2></a>
    </div>
  </div>
</section>
