    <footer>
        <div class="rodape">
            <div class="row">
                <div class="col-sm">
                    <small>2018 - Todos os direitos reservados a Lauro Lustosa Vieira</small>
                    <small>Site criado por <a href="#">Vinicius Costa Web designer</a></small>
                </div>
            </div>
        </div>
    </footer>
   
    <!-- Latest jQuery from server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- Bootstrap JS from CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    
    <!-- jQuery sticky menu -->
    <script src="/res/site/js/owl.carousel.min.js"></script>
    <script src="/res/site/js/jquery.sticky.js"></script>
    
    <!-- jQuery easing -->
    <script src="/res/site/js/jquery.easing.1.3.min.js"></script>
    
    <!-- Main Script -->
    <script src="/res/site/js/main.js"></script>
    
    <!-- Slider -->
    <script type="text/javascript" src="/res/site/js/bxslider.min.js"></script>
    <script type="text/javascript" src="/res/site/js/script.slider.js"></script>

    <!-- Fancybox-->
    <script src="/res/fancybox-master/dist/jquery.fancybox.min.js"></script>
    <script>
        $("[data-fancybox]").fancybox({
          clickContent    : false
        });
    </script>

  </body>
</html>