<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Decalques personalizados - Lauro Lustosa Vieira</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link rel="stylesheet" href="style/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:500,500i" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link href="/res/site/css/style.css" rel="stylesheet"/>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/res/site/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/res/site/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/res/site/img/favicon/site.webmanifest">
        <link rel="mask-icon" href="/res/site/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/res/site/css/font-awesome.min.css">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/res/site/css/owl.carousel.css">
        <link rel="stylesheet" href="/res/site/css/style.css">
        <link rel="stylesheet" href="/res/site/css/responsive.css">

        <!-- Fancybox -->
        <link rel="stylesheet" type="text/css" href="/res/fancybox-master/dist/jquery.fancybox.min.css">

    </head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light sombra">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/res/site/img/logo-llvdecalquespersonalizados.svg" alt="Lauro Lustosa Vieira - Decalques Personalizados" title="Lauro Lustosa Vieira - Decalques Personalizados"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-md-4 telefone">
                        <a class="nav-link" href="https://api.whatsapp.com/send?phone=5561981688653" target="_blanck">61 8168-8653</a>
                    </li>
                    <li class="nav-item ml-md-4 active">
                        <a class="nav-link" href="/decalques">DECALQUES</a>
                    </li>
                    <li class="nav-item ml-md-4 botao">
                        <a class="nav-link" href="#contato">FAÇA SEU PEDIDO</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>