/*Página de login bootstrap*/
body {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
 background: -webkit-gradient(linear, left top, left bottom, from(#FA8231),color-stop(50%, #FA8231),color-stop(50%, #fff),to(#fff));background: -webkit-linear-gradient(top, #FA8231 0%,#FA8231 50%,#fff 50%,#fff 100%);background: -o-linear-gradient(top, #FA8231 0%,#FA8231 50%,#fff 50%,#fff 100%);background: linear-gradient(to bottom, #FA8231 0%,#FA8231 50%,#fff 50%,#fff 100%);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background: #fff;
/*Vali*/
 -webkit-box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
       box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
/*Meu*/
	border-radius: 10px;

}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*Box erro do painel*/
.erro-box{
	width: 100%;
	padding: 8px 2%;
	text-align: center;
	background: #F75353;
	color: white;
	font-size: 15px;
}