/* Configuracoes globais*/
*{margin:0;padding:0;font-size:100%;box-sizing:border-box;border:none;outline:none;list-style:none;font-family: Raleway, sans-serif;font-style: medium;}
html,body{overflow-x: hidden}
body{background:#fff !important}
img{display:block;max-width:100%}
a:link{text-decoration:none}
a:hover {color: #2980B9; transition: .2s}
.sombra{
  -webkit-box-shadow: 
          0 2px 4px 0 rgba(0,0,0,0.14),
              0 3px 4px 0 rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.20);
  box-shadow: 
          0 2px 4px 0 rgba(0,0,0,0.14),
              0 3px 4px 0 rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.20)}

/* Tipografia */
h1{font-style: italic;}
h2{}
h3{}
p{}

.text-laranja{color: #FA8231}
.text-azul{color: #2980B9}
.text-branco a{color: #fff}
.azul-hover:hover{background-color: #2980B9; transition: .2s}
.btn-primary{background-color: #2980B9;color: #fff; border: #fff 2px solid; padding: 1.5rem 2.2rem !important; border-radius: 50px}
.btn-primary:hover{background-color: #FA8231;color: #fff; }

.text-laranja.h1{font-size: 48px}
.text-laranja.h3{font-size: 18px}
.text-laranja.h2{font-size: 36px}

.text-laranja.h5{font-size: 18px}
.text-laranja.h6{font-size: 12px}

/*-------------------------------------------
  MENU
-------------------------------------------*/
.navbar-brand img {width: 180px} /*max-width: 215px*/
.telefone a {color: #2980B9 !important}
/*.telefone a.nav-link:hover {color: #FA8231 !important}*/
.nav-link {color:#FA8231 !important}
a.nav-link:hover {color: #2980B9 !important; transition: .1s;text-decoration: underline}
/*.active {background: #F4EBE6;border-radius: 50px;}*/
.pedido .nav-link {color:#fff !important}
.navbar-nav .nav-link {text-align: center;padding: 1rem 1.2rem !important}

/*botao*/
.botao a{display: block;padding: 0.5rem 1rem;background-color: #FA8231;
  border-radius: 50px;color: #fff !important}
.botao a:hover {background-color: #2980B9 !important; transition: .1s;color: #fff !important}

.laranja {background: #FA8231;padding: 8% 0; width: 100%}
.sobre h2{color: #2980B9}
.sobre p{color: #130F40}

.contato {background: #2980B9}
.contato img {max-width: 130px}
.menor img {max-height: 100px}
.contato h2{color: #fff; text-align: center}
.contato-item:hover {background: #FA8231; transition: .2s;border-radius: 50px}
.contato-item {text-align: center; padding: 20px}
.contato-item a {color: #fff}
.contato-item img{margin: 20px auto}
.igual img {margin: 25px auto 20px auto}

/* setas do carousel*/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232980B9' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232980B9' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");}

/*-------------------------------------------
  FOOTER
-------------------------------------------*/
footer{background: #fff;text-align: center;color: #2980B9;padding: 10px 0}
.rodape{max-width: 370px;margin: 0 auto}